<div class="vertical-menu">

  <div data-simplebar class="h-100">

    <!---demenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a href="index.html" class="waves-effect">
            <i class="mdi mdi-home-variant-outline"></i><span
              class="badge rounded-pill bg-primary float-end"
            >3</span>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="mdi mdi-email-outline"></i>
            <span>Email</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="email-inbox.html">Inbox</a></li>
            <li><a href="email-read.html">Read Email</a></li>
            <li><a href="email-compose.html">Email Compose</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-share-line"></i>
            <span>Multi Level</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="javascript: void(0);">Level 1.1</a></li>
            <li><a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
              <ul class="sub-menu" aria-expanded="true">
                <li><a href="javascript: void(0);">Level 2.1</a></li>
                <li><a href="javascript: void(0);">Level 2.2</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>