<!doctype html>
<hhtml lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <title>simple dashboard</title>

    <!-- ========== wesbite styles Start ========== -->
    {{>styles}}
    <!-- wesbite styles End -->

  </head>
  <body class="bg-pattern">

    <!-- Begin page -->
    <div id="layout-wrapper">
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      {{{body}}}
      <!-- end main content-->

      <!-- ========== wesbite scripts Start ========== -->
      {{>scripts}}
      <!-- wesbite scripts End -->

    </div>
    <!-- END layout-wrapper -->
  </body>
</html>